body{
    background-color: aquamarine;

}

.about{
    background-color: antiquewhite;
    position: absolute;
    width: 370px;
    height: 1319px;
    left: 40px;
    top: 40px;
}
.information{

    position: absolute;
 
    height: 1319px;
    left: 440px;
    top: 40px;

    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}