body{
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 30px;
    top: 20px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.831);
}

.about{
    position: absolute;
    background:linear-gradient(to left, #212834, #6a6a6c);
    padding-bottom: 440px;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0px;
}

.telefon{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 20%;
    text-decoration: none;
}

.ul{
    margin-top: 40px;
    margin-left: -35%;
}


.photo{
    float:left;
    overflow:hidden; /* this is important */
    position:relative; /* this is important too */
    border:0px solid #ccc;
    width: 245px;
    height:260px;
    }

.photo img{
    position:absolute;
    width: 360px;
    top:-70px;
    left:-100px;
    }

.name{
    background: linear-gradient(#14a3dc ,#284e5f);
    position: absolute;
    margin-left: 245px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 125px;
    padding-left: 30%;
    padding-right: 250px;
}

.inf{
    text-decoration: none;
    border-bottom: 2px #000000 solid;
    margin-left: -50%;
    margin-right: 0;
    font-size: 75px;
    font-family: 'Overpass', sans-serif;
}

.skil{
    position: absolute;
    top: 70%;
    left: 30px;
}

.developer{
    position: absolute;
    padding-top: 10px;
    margin-left: -35px;
    font-size: 45px;
}

.information{
    position: absolute;
    font-size: 20px;
    margin-top: 27%;
    margin-left: 30%;
    margin-right: 10%;
}

.contact{
    position: absolute;
    margin-top: 290px;
    margin-left: 10px;
}

.con{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 130px;
    margin-left: 30px;
    font-family: 'Heebo', sans-serif;
}

.telega{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mail{
    position: absolute;
    top: 35px;
    left: 30px;
    text-decoration: none;
    color: #ffffff;
}

ul{
    color: #c57e04;
    margin-top: 2px;
    margin-left: -15%;
}

ul a{
    text-decoration: none;
    margin-top: 40px;
    color: #ffffff;
}

.color_1{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Heebo', sans-serif;
    margin-left: 10px;

}

li{
    color: #c57e04;
}
li span{
    color: #ffffff;
}

.l{
    color:#000000;
}

.project {
    position: absolute;
    top:75%;
    left: 30%;
}

.Progects{
    font-size: 35px;
    margin-bottom: 10px;
}

.experience {
    font-size: 17px;
    color: #025a41;
}